<html>
    <head>
<style>
body {
    display: grid;
    gap: 0.5em;
}

@media (min-width: 45em){
body {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto
    }
}

header {
    grid-column: 1 / -1;
}

div.pattern-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.pattern {
    width: 20em;
}
</style>
    </head>
    <body>
        <header>
            <h1>Schnittmuster</h1>
        </header>

        <div class="nav">
            <form action="/" method="GET">
                <input name="q" value="{{ query }}"/>
                <input type="submit" value="Suche"/>
                <select name="fq">
                    <option value=""></option>
                    {% for c in creators %}
                    <option value="_creator_:{{ c['name'] }}">{{ c['name'] }} ({{ c['count'] }})</option>
                    {% endfor %}
                </select>
            </form>

            <div>{{ hits }} Ergebnisse gefunden.</div>
        </div>
        <div class="main">

            <div class="pattern-container">
            {% for r in results %} 
                <div class=pattern>
                <a href="{{ url_for('pattern', pattern=r['path']) }}">
                <img src="{{ url_for('image', pattern=r['path'], fname=r['thumbnail']) }}">
                <p>{{r['title']}}</p>
                <p>{{r['creator']}}</p>
                </a>
                </div>
            {% endfor %}
            </div>
            <div class="pagination">
                    {% if page > 1 %}
                    <a href={{ url_for("index", query=query, page=page-1, rows=rows) }}><</a>
                    {% endif %}
                    <span>Seite {{ page }}</span>
                    {% if hits > page * rows %}
                    <a href={{ url_for("index", query=query, page=page+1, rows=rows) }}>></a>
                    {% endif %}
            </div>
        </div>
    </body>
</html>
