<html>
    <head>
<style>
div.pattern-container {
    display: grid;
    gap: 50px 100px;
    grid-template-columns: 20% 20% 20% 20%
}
</style>
    </head>
    <body>
        <h1>Schnittmuster</h1>
        <form action="/" method="GET">
            <input name="q" value="{{ query }}"/>
            <input type="submit" value="Suche"/>
        </form>
        <div>{{ results.hits }} Ergebnisse gefunden.</div>
        <div class="pattern-container">
        {% for r in results %} 
            <div>
            <a href="{{ url_for('pattern', pattern=r['path']) }}">
            <img src="{{ url_for('image', pattern=r['path'], fname=r['thumbnail']) }}">
            <p>{{r['title']}}</p>
            <p>{{r['creator']}}</p>
            </a>
            </div>
        {% endfor %}
        </div>
        <div class="pagination">
        {% if page > 1 %}
        <a href={{ url_for("index", query=query, page=page-1, rows=rows) }}><</a>
        {% endif %}
        <span>Seite {{ page }}</span>
        {% if results.hits > page * rows %}
        <a href={{ url_for("index", query=query, page=page+1, rows=rows) }}>></a>
        {% endif %}
        </div>

    </body>
</html>
